/* Heading */
.container {
	width: 900px;
	height: 200px;
	border-radius: 20px;
	margin: 20px auto 0 auto;
	filter: drop-shadow(0 0 10px rgba(0,0,0,1));
	background-image: radial-gradient(circle, white,#EBEDEF);
	position: relative;
	text-align: center;
}

.header {
	width: 300px;
	height: 200px;
	position: absolute;
	left: 300px;
}

h1 {
	font-size: 30px;
    font-family: 'Fjalla One', sans-serif;
    margin-top: 20px;
	text-align: center;
	filter: drop-shadow(2px 2px 4px rgba(0,0,0,.3));
}

.logo {
	margin: 10px auto 0 auto;
	width: 100px;
	height: 130px;
	border-radius: 50%;
	background-image: url(../img/zukron.jpg);
	filter: drop-shadow(1px 1px 3px rgba(0,0,0,6));
}

/* Body */
.containerBody {
	width: 900px;
	height: 250px;
	margin: 20px auto 0 auto;
	position: relative;
	background-color: white;
	border-radius: 20px;
	filter: drop-shadow(0 0 10px rgba(0,0,0,.5));
}

.navbar {
	width: 900px;
	height: 40px;
	text-align: center;
	background-color: #555555;
	box-sizing: border-box;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	filter: drop-shadow(0 3px 2px rgba(0,0,0,.5));
}

.navbar ul li{
	margin-top: 7px;
	display: inline-block;
}

.navbar ul li a {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-size: 25px;
	margin-left: -5px;
	padding: 7px 20px 8px 20px;
	text-decoration: none;
	background-color: #555555;
	color: white;
}

#Now {
	background-color: #4CAF50;
}

.navbar ul li a:hover,
#Now:hover {
	background-color: black;
}

p {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    letter-spacing: 0.5px;
    text-indent: 50px;
	text-align: center;
	margin-top: 20px;
}