body {
	height: 700px;
	background-image: url(../img/bg.png);
}

/* Heading */
.container {
	width: 900px;
	height: 200px;
	border-radius: 20px;
	margin: 20px auto 0 auto;
	filter: drop-shadow(0 0 10px rgba(0,0,0,1));
	background-image: radial-gradient(circle,white,#EBEDEF);
	position: relative;
	text-align: center;
}

.header {
	width: 300px;
	height: 200px;
	position: absolute;
	left: 300px;
}

h1 {
	font-size: 30px;
    font-family: 'Fjalla One', sans-serif;
    margin-top: 20px;
	text-align: center;
	filter: drop-shadow(2px 2px 4px rgba(0,0,0,.3));
}

h2 {
	text-decoration: underline;
	font-size: 20px;
	margin-top: 35px;
    font-family: 'Fjalla One', sans-serif;
    filter: drop-shadow(0 5px 2px rgba(0,0,0,.5));
}
/* Body */
.containerBody {
	width: 900px;
	height: 430px;
	margin: 20px auto 0 auto;
	position: relative;
	background-color: white;
	border-radius: 20px;
	filter: drop-shadow(0 0 10px rgba(0,0,0,.5));
}

.navbar {
	width: 900px;
	height: 40px;
	text-align: center;
	background-color: #555555;
	box-sizing: border-box;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	filter: drop-shadow(0 3px 2px rgba(0,0,0,.5));
}

.navbar ul li{
	margin-top: 7px;
	display: inline-block;
}

.navbar ul li a {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-size: 25px;
	margin-left: -5px;
	padding: 7px 20px 8px 20px;
	text-decoration: none;
	background-color: #555555;
	color: white;
	transition: .3s;
}

#Now {
	background-color: #4CAF50;
}

.navbar ul li a:hover,
#Now:hover {
	background-color: black;
}

/* Style list laporan*/
.list ul li:first-child {
	margin-top: 50px;
}

.list ul li {
	margin: 0 0 10px 150px;
	width: 400px;
	height: 30px;
	filter: drop-shadow(2px 2px 5px rgba(0,0,0,.5));
	background-color: #EBEDEF;
	border-radius: 20px;
}

.list ul li:hover {
	animation-name: zoom;
	animation-duration: .3s;
	animation-fill-mode: both;
}

.list ul li a {
	letter-spacing: 2px;
	font-size: 20px;
	line-height: 28px;
	color: black;
	padding-left: 20px;
	text-decoration: none;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.list ul li a:hover {
	color: white;
	filter: drop-shadow(0 0 2px rgba(0,0,0,1));
}

p {
    font-family: 'Josefin Sans', sans-serif;
	margin-left: 50px;
	opacity: 0;
}

.list ul li:hover p {
	animation-name: fade;
	animation-duration: .3s;
	animation-fill-mode: both;
}

/* Animasi list laporan*/
@keyframes zoom {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.2);
		height: 50px;
	}
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}